<!doctype html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Francesco Bonzi">
  <meta name="generator" content="Jekyll v3.8.6">
  <title>{{page}}</title>

  <!-- Bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">  
  
  <!-- General style -->

  <link href="../../css/template.css" rel="stylesheet">
  <link rel="shortcut icon" href="../../calendar.png" type="image/x-icon" />

  <!-- Custom styles -->
  <link href="../../css/{{page}}.css" rel="stylesheet">
  <script src="../../scripts/{{page}}.js"></script>
</head>

<body>
  {{{body}}}
  <!-- FOOTER -->
  <!--
  <footer class="container">
    <p>Questo progetto è disponibile gratuitamente su <a href="https://github.com/FrancescoBonzi/UniboCalendar">GitHub</a>.</p>
  </footer>
  -->
</body>

</html>